aiosmtplib
alembic
asyncpg
chevron
deepdiff
email-validator
Faker #  This dependency temporary must be in production requirements until Organization title change will be implemented.
fastapi
fastapi-users[sqlalchemy]
httpx
httpx-oauth
kubernetes
kubernetes_asyncio==22.6.5 #  Version locked because of issue https://github.com/kubernetes-client/python/issues/1718 and https://github.com/kubernetes-client/python/issues/1751
mergedeep
procrastinate==0.33.0
pydantic[dotenv]==1.10.14
pyyaml
sqlalchemy[asyncio]==1.4.46
uvicorn[standard]
bcrypt==4.0.1