# dependencies
node_modules/
.yarn/

# production
build/
public/

# ide
.vscode/

# external docs
src/app/main/documentation/material-ui-components/components/*
src/app/main/documentation/third-party-components/*/examples/*

src/@fake-db/db/*
