alembic
asyncpg
Faker #  This dependency temporary must be in production requirements until Organization title change will be implemented.
fastapi
fastapi-users[sqlalchemy]
httpx-oauth
pydantic
pyyaml
sqlalchemy[asyncio]
uvicorn[standard]
