.dropdown-filter label {
    background: white;
}

.spinner-container #spinner {
    margin: 0;
    height: 100%;
}

.monaco-editor.no-user-select {
    padding-top: 12px;
}

.custom-date-picker .MuiFormControl-root{
    width: 100%;
}

.template-builder .MuiFormControl-root {
    background-color: #fff;
}
