.dropdown-filter label {
    background: white;
}

.spinner-container #spinner {
    margin: 0;
    height: 100%;
}

.monaco-editor.no-user-select {
    padding-top: 12px;
}

.customDatePickerWidth .MuiFormControl-root.MuiTextField-root.muiltr-1u3bzj6-MuiFormControl-root-MuiTextField-root{
    width: 100%;
}

.component.hidden_component {
    overflow: hidden;
    opacity: 0;
    transition: height 0ms 400ms, opacity 400ms 0ms;
}

.component.visible_component {
    opacity: 1;
    transition: height 0ms 0ms, opacity 600ms 0ms;
}